:root {
  --primary-color: #e94d43;
  --secondary-color: #2d3e50;
  --accent-color: #d4a15a;
  --text-color: #333;
  --quote-background-color: #e0e0e0;
  --article-background-color: #f9fad2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

h1 {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
}

nav {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem 2rem;

  ul {
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  a {
    transition: color 0.3s;
    &:hover {
      color: var(--accent-color);
      text-decoration: underline;
    }

    &[aria-current="page"] {
      color: var(--accent-color);
    }
  }
}

.interior-view {
  border-radius: 0.75rem;
  float: right;
  margin-left: 1rem;
}

main {
  padding: 1rem;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  > section {
    max-width: 1200px;
    margin: 0 auto;
  }

  ul {
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 600;
  }
}

blockquote {
  background-color: var(--quote-background-color);
  color: var(--text-color);
  padding: 1rem;
  border-left: 0.25rem solid var(--primary-color);
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p:nth-child(2) {
    margin-left: 2rem;
  }

  cite {
    font-style: italic;
  }
}

.column-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 0.875rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  article {
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: var(--article-background-color);

    display: flex;
    gap: 1rem;

    p {
      line-height: 1.1;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 600;
    }

    p:last-child {
      width: fit-content;
      border-radius: 0.25rem;
      border: 2px solid var(--secondary-color);
      background-color: var(--primary-color);
      color: white;
      padding: 0.25rem 0.5rem;
      font-weight: 600;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    img {
      border-radius: 0.5rem;
    }
  }
}

main.contact {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  > div:first-child {
    img {
      border-radius: 0.5rem;
      padding: 0.5rem;
      border: 1px solid black;
      width: 500px;
    }
  }

  > div:last-child {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      color: var(--secondary-color);
      font-weight: 600;
    }
  }

  fieldset {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 0.5rem;

    label {
      white-space: nowrap;
    }

    label[for="message"],
    #message {
      grid-column: 1 / -1;
    }
  }
}

section[aria-labelledby="map-title"] {
  float: right;
  margin: 0;
}

/* Tablet */
@media only screen and (max-width: 1280px) {
  .menu-grid {
    grid-template-columns: 1fr;
  }

  main.contact {
    flex-direction: column;

    > div:first-child {
      img {
        width: 100%;
      }
    }

    fieldset {
      grid-template-columns: 1fr;

      label {
        margin-bottom: -0.5rem;
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .menu-grid {
    article {
      flex-direction: column-reverse;
      gap: 1rem;

      img {
        width: 100%;
      }
    }
  }

  .interior-view {
    float: none;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  h1 {
    text-align: center;
  }

  nav {
    ul {
      flex-direction: column;
      gap: 0.5rem;

      li {
        width: 100%;
        text-align: center;
        padding-bottom: 0.25rem;

        &:not(:last-child) {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
